<script src="https://giscus.app/client.js"
        data-repo="doantaa/cious.sbs"
        data-repo-id="R_kgDON0uMLw"
        data-category="General"
        data-category-id="DIC_kwDON0uML84CmroF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://doantaa.github.io/github-readme-streak-stats/giscustheme.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>